.screenpage show h1{
 display: flex;
  color:orange;
   text-align: center;
}
.screenpage show img:last-child{
     pading-top: 50px;
 pading-left:50px;
}
.screenpage show img:first-child{
 pading-top: 50px;
 pading-rite:50px
}



