.screenpage show h1{
 display: flex;
  color:orange;
   text-align: center;
}
.screenpage show.page0class0{
 pading-top:50px;
 pading-rite:50px
}
page0class1{
 top:400px;
 rite:90px;
  width:170px;
 height:100px;
 position:relative;
}
.page02{
 top:300px;
  left:90px;
  width:170px;
 height:100px;
 position:relative;
}
.screenpage show.page0class3{
  top:400px;
 left:90px;
  width:170px;
 height:100px;
 position:relative;
}
.screenpage show.page0class4{
 top:300px;
 rite:90px;
 width:170px;
 height:100px;
 position:relative;
}




